@model U1Act1.Models.PerfilViewModel

<html>
	<head>
		<title>Datos del perfil</title>
	</head>

	<body>
		<h1>Datos del perfil</h1>
		<dl>
			<img src="~/Images/Homero.png"/> 
			<dt>Nombre</dt>
			<dd>@Model.Nombre</dd>
			<dt>Semestre</dt>
			<dd>@Model.Semestre</dd>
			<dt>Periodo</dt>
			<dd>@Model.Periodo</dd>
			<dt>Materia</dt>
			<dd>@Model.Materia</dd>
			
		</dl>
	</body>
</html>

